---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Experiencie from "../components/sections/Experiencie.astro";
import Education from "../components/sections/Education.astro";
import Projects from "../components/sections/Projects.astro";
import Skills from "../components/sections/Skills.astro";
import KeyboardManager from "../components/KeyboardManager.astro";
---

<BaseLayout title="Minimalist portfolio">
  <main class="space-y-[1.75em]">
    <Hero />
    <About />
    <Experiencie />
    <Education />
    <Skills />
    <Projects />
  </main>
  <KeyboardManager />
</BaseLayout>
